extends ../layout/default.pug
block content
  .container
    .jumbotron.my-2
      h1= title
      button.btn.btn-primary(onclick="location.href='/board/write';") 작성하기
    table.table.table-bordered.text-center
      thead.thead-dark
        tr
          th 번호
          th 제목
          th 작성자
          th 내용
          th 작성일
      tbody
        //- 데이터 받아오려면 필요한 each in문 
        each v in lists 
          tr
            td= v.id
            td.text-left
              a(href=`/board/view/${v.id}`)= v.title
                if v.savefile
                  i.fa.fa-file.ml-2
            td= v.writer
            td.text-left= v.content
            td= v.wdate

